{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include "_modal.html" %}
  <h5 class="border-bottom">History Logs</h5>
  <div class="card">
    <div class="card-body">
      <form method="get" class="logs_form border-bottom mb-2">
        <div class="row">
                <div class="col-md-6">                      
                  {{ logs.form.history_user|as_crispy_field }}                       
                </div>
                <div class="col-md-6">
                  {{ logs.form.history_type|as_crispy_field }}
                </div>                                   
            </div>            
        </form>
      <table class="table" id="users_table">
        <thead class="">
          <th>
            #
          </th>
          <th>
            User
          </th>              
          <th>
            Action
          </th>
          <th>
            Record
          </th>
          <th>
            Date / Time
          </th>
        </thead>
        <tbody>
          <div id="stream-list">
          {% for record in logs.qs %}
          <tr >
            <td class="text-center">{{ forloop.counter}}</td>
            <td>{{record.history_user}} ({{record.history_user.staffprofile.first_name}} {{record.history_user.staffprofile.last_name}})</td>             
            <td>{{record.get_history_type_display}}</td>
            <td>{{record.first_name}} {{record.last_name}}</td>
            <td>{{record.history_date|naturaltime}}</td>
          </tr>
          {% endfor %}
            
          </div>
        </tbody>
      </table>
    </div>
  </div>    

  <script>
    var refreshStream = function(){
      var getNewDataUrl = '{% url "applicants-logs" %}'
      $.ajax({
          url: getNewDataUrl,
          method: 'GET',
          data: {},
          success: function(data){
            $('#stream-list').replaceWith($('#stream-list',data));
          },
          error: function(error){
              console.log(error);
              console.log("error");
          }
      });
    }

    var total_seconds = 2; // refresh every 5 seconds

    setInterval(function(){
        refreshStream();
    },total_seconds * 1000);

    $("label[for='id_history_user']").html("<span class='font-weight-bold'>Select a user to view their logs</span>");
    $("label[for='id_history_type']").html("<span class='font-weight-bold'>Choose the nature of action</span>");
    document.getElementById("logs").className += " active";
    $(".view-details-btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    $('.logs_form').find(':input').each(function(){
    $(this).change(function(){
      $('.logs_form').submit();
    });
  });
  
  </script>
{% endblock %}

                