{% extends "layout.html" %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load my_tags %}
{% block content %}
{% include "_modal.html" %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Applicants</li>      
    </ol>
  </nav>
  <h5 class="border-bottom">All Applicants</h5>
    {% if not user.is_executive or not user.is_superuser %}
      <div>
        {% if not user.is_executive %}
        <a class="btn btn-success" href="{% url 'apply' %}">
          <span class="fa fa-plus-circle mr-2"></span>
          Add new Applicant
        </a>
        {% endif %}
        {% if user.is_superuser %}          
        <a class="btn btn-warning" href="{% url 'duplicates' %}">
          <span class="fa fa-history mr-2"></span>
          Duplicate Records
        </a>
        <a class="btn btn-primary" href="{% url 'schools-list' %}">
          <span class="fa fa-graduation-cap mr-2"></span>
          View List of Schools Currently in Database
        </a>
        <a class="btn btn-danger" href="{% url 'delete-all-applications' %}">
          <span class="fa fa-graduation-cap mr-2"></span>
          Delete All Applicants
        </a>
        {% endif %}
      </div>
    {% endif %}
  <div class="card">
    <div class="card-body">      
      <form method="get" class="applicants_form">
        <div class="row">
            <div class="col-md-3">                      
              {{ filter.form.subcounty|as_crispy_field }}                       
            </div>
            <div class="col-md-3">
              {{ filter.form.ward|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.sublocation|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.school_type|as_crispy_field }}
            </div>                   
        </div>
        <button type="submit" class="btn btn-block btn-sm btn-outline-primary">Get Applicants</button>
      </form>         
      <div class="border-top">
        <div class="row mt-3">
          <div class="col-md-6">
            {% bootstrap_pagination page_obj %}          
          </div>
          <div class="col-md-6">
            <p class="text-right">Showing <span class="font-weight-bold">{{page_obj.start_index}}</span> to <span class="font-weight-bold">{{page_obj.end_index}}</span> of <span class="font-weight-bold">{{total_filter}}</span> Applicants {% if has_filter %} - Filtered from <span class="font-weight-bold">{{total_applicants}}</span> Total Applicants{% endif %}</p>
          </div>
        </div>
      </div>
      <table class="table" id="mytable">
        <thead class="">
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Gender
          </th>
          <th>
            School
          </th>
          <th>
            Subcounty
          </th>
          <th>
            Ward
          </th>
          <th>
            Sublocation
          </th>
          <th>Details</th>              
        </thead>
        <tbody class="applicants-table-body">
          <div class="applicants-table">              
            {% for applicant in object_list %}
              <tr >
                <td class="text-center">{{ forloop.counter|add:page_obj.start_index|sub:1}}</td>
                <td>
                  {{applicant.first_name}} {% if applicant.last_name %}{{applicant.last_name}}{% endif %}
                </td>
                <td>{{applicant.gender}}</td>
                <td>
                  {{applicant.school_name}}              
                </td>
                <td>{{applicant.subcounty}}</td>
                <td>{{applicant.ward}}</td>
                <td>{{applicant.sublocation}}</td>
                <td class="row">
                  <div class="col-md-4">
                    <button class="view-details-btn btn btn-sm btn-primary" type="button" name="button" data-id="{% url 'applicants-detail' applicant.id %}" data-toggle="tooltip" data-placement="auto" title="View details">
                    <span class="fa fa-eye mr-2"></span>                                
                    </button>
                  </div>
                  <div class="col-md-4">
                  {% if not user.is_executive %}
                    <a class="btn btn-sm btn-primary" type="button" name="button" href="{% url 'applicants-update' applicant.id %}" data-toggle="tooltip" data-placement="auto" title="Edit record">
                    <span class="fa fa-pencil mr-2"></span>                                
                  </a>
                  {% endif %}
                  </div>
                  <div class="col-md-4">
          	      {% if user.is_superuser %}
                    <button class="delete-btn btn btn-sm btn-danger" type="button" name="button" data-id="{% url 'applicants-delete' applicant.id %}" data-toggle="tooltip" data-placement="auto" title="Delete Record">
                          <span class="fa fa-trash mr-2"></span>
                        </button>
          	      {% endif %}
                  </div>
                </td>                
              </tr>
            {% endfor %}
            
          </div>
        </tbody>
      </table>
      <div class="border-top">
        <div class="row mt-3">
          <div class="col-md-6">
            {% bootstrap_pagination page_obj %}          
          </div>
          <div class="col-md-6">
            <p class="text-right">Showing <span class="font-weight-bold">{{page_obj.start_index}}</span> to <span class="font-weight-bold">{{page_obj.end_index}}</span> of <span class="font-weight-bold">{{total_filter}}</span> Applicants {% if has_filter %} - Filtered from <span class="font-weight-bold">{{total_applicants}}</span> Total Applicants{% endif %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>    
  <script>
    $(document).ready(function() {
    $('#mytable').dataTable({
      dom: 'Blfrtip',
      buttons: [
          { extend: 'copy', text: 'Copy to clipboard' },
          { extend: 'excel', text: 'Export to Sheets', 
            exportOptions: {
              columns: 'th:not(:last-child)'
            } 
          },
          { extend: 'pdf', text: 'Export to PDF' },
          { extend: 'print', text: 'Print' }
      ],
      "bPaginate": false,
      "bLengthChange": false,
      "bFilter": true,
      "bInfo": false,
      "bAutoWidth": false });
    });


    var $rows = $('#mytable tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
  </script>
  <script>
    document.getElementById("applications").className += " active";
    $(document).ready(function(){

    // $('#users_table_info,#users_table_paginate').style.display = "none";
    $(".view-details-btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    $(".delete-btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      });


  </script>

{% endblock %}

                
