{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
{% include "_modal.html" %}
  <h5 class="border-bottom">History Logs</h5>
  <div class="card">
    <div class="card-body">
      <form method="get" class="logs_form border-bottom mb-2">
        <div class="row">
                <div class="col-md-6">                      
                  {{ filter.form.history_user|as_crispy_field }}                       
                </div>
                <div class="col-md-6">
                  {{ filter.form.history_type|as_crispy_field }}
                </div>                                   
            </div>            
        </form>
      <div class="border-top">
        <div class="row mt-3">
          <div class="col-md-6">
            {% bootstrap_pagination page_obj %}          
          </div>
          <div class="col-md-6">
            <p class="text-right">Showing <span class="font-weight-bold">{{page_obj.start_index}}</span> to <span class="font-weight-bold">{{page_obj.end_index}}</span> of <span class="font-weight-bold">{{total_filter}}</span> Records {% if has_filter %} - Filtered from <span class="font-weight-bold">{{total_records}}</span> Total Records{% endif %}</p>
          </div>
        </div>
      </div>
      <table class="table" id="">
        <thead class="">
          <th>
            #
          </th>
          <th>
            User
          </th>              
          <th>
            Action
          </th>
          <th>
            Record
          </th>
          <th>
            Date / Time
          </th>
        </thead>
        <tbody>
          <div id="stream-list">
          {% for record in object_list %}
          <tr >
            <td class="text-center">{{ forloop.counter|add:page_obj.start_index|sub:1}}</td>
            <td>{{record.history_user}} ({{record.history_user.staffprofile.first_name}} {{record.history_user.staffprofile.last_name}})</td>             
            <td>{{record.get_history_type_display}}</td>
            <td>{{record.first_name}} {{record.last_name}}</td>
            <td>{{record.history_date|naturaltime}}</td>
          </tr>
          {% endfor %}
            
          </div>
        </tbody>
      </table>
      <div class="border-top">
        <div class="row mt-3">
          <div class="col-md-6">
            {% bootstrap_pagination page_obj %}          
          </div>
          <div class="col-md-6">
            <p class="text-right">Showing <span class="font-weight-bold">{{page_obj.start_index}}</span> to <span class="font-weight-bold">{{page_obj.end_index}}</span> of <span class="font-weight-bold">{{total_filter}}</span> Records {% if has_filter %} - Filtered from <span class="font-weight-bold">{{total_records}}</span> Total Records{% endif %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>    

  <script>
    
    $("label[for='id_history_user']").html("<span class='font-weight-bold'>Select a user to view their logs</span>");
    $("label[for='id_history_type']").html("<span class='font-weight-bold'>Choose the nature of action</span>");
    document.getElementById("logs").className += " active";
    $(".view-details-btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    $('.logs_form').find(':input').each(function(){
    $(this).change(function(){
      $('.logs_form').submit();
    });
  });
  
  </script>
{% endblock %}

                