{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include "_modal.html" %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Applicants</li>      
    </ol>
  </nav>
  <h5 class="border-bottom">All Applicants</h5>
      {% if not user.is_executive or user.is_superuser %}
      <div>
        <a class="btn btn-primary" href="{% url 'apply' %}">
          <span class="fa fa-plus-circle mr-2"></span>
          Add new Applicant
        </a>
      </div>
      {% endif %}
  <div class="card">
    <div class="card-body">
      <form method="get" class="applicants_form">
            <div class="row">
                <div class="col-md-3">                      
                  {{ applicants.form.subcounty|as_crispy_field }}                       
                </div>
                <div class="col-md-3">
                  {{ applicants.form.ward|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ applicants.form.sublocation|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ applicants.form.school_type|as_crispy_field }}
                </div>                   
            </div>
            
        </form>
      <table class="table" id="users_table">
        <thead class="">
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Gender
          </th>
          <th>
            School
          </th>
          <th>
            Subcounty
          </th>
          <th>
            Ward
          </th>
          <th>
            Sublocation
          </th>
          <th>Details</th>              
        </thead>
        <tbody>
          {% for applicant in applicants.qs %}
          <tr >
            <td class="text-center">{{ forloop.counter}}</td>
            <td>
              {{applicant.first_name}} {% if applicant.last_name %}{{applicant.last_name}}{% endif %}
            </td>
            <td>{{applicant.gender}}</td>
            <td>
              {{applicant.school_name}}
              <br>
              <button class="badge badge-info text-center">{{applicant.school_type}}</button>              
            </td>
            <td>{{applicant.subcounty}}</td>
            <td>{{applicant.ward}}</td>
            <td>{{applicant.sublocation}}</td>
            <td class="row">
              <button class="view-details-btn btn btn-sm btn-primary mr-2" type="button" name="button" data-id="{% url 'applicants-detail' applicant.id %}" data-toggle="tooltip" data-placement="auto" title="View details">
                <span class="fa fa-eye mr-2"></span>                                
              </button>

              {% if not user.is_executive %}
              <a class="btn btn-sm btn-primary" type="button" name="button" href="{% url 'applicants-update' applicant.id %}" data-toggle="tooltip" data-placement="auto" title="Edit record">
                <span class="fa fa-pencil mr-2"></span>                                
              </a>
              {% endif %}

	      {% if user.is_superuser %}
	      <button class="delete-btn btn btn-sm btn-danger mr-2" type="button" name="button" data-id="{% url 'applicants-delete' applicant.id %}" data-toggle="tooltip" data-placement="auto" title="Delete Record">
                <span class="fa fa-trash mr-2"></span>
              </button>
	      {% endif %}

            </td>                
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>    

  <script>
    document.getElementById("applications").className += " active";
    $(".view-details-btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    $(".delete-btn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

    $('.applicants_form').find(':input').each(function(){
    $(this).change(function(){
      $('.applicants_form').submit();
    });
  });
  </script>
{% endblock %}

                
