{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load mathfilters %}
{% load humanize %}
{% include "_modal.html" %}
<div class="container">   
  <div class="">
    <div class=" mt-5">
        <div class="card">
            <div class="card-body">
                
                <div class="container">                    
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {% if  title == 'Apply' %}
                            <legend class="border-bottom mb-4">Apply For Bursary</legend>
                            {% elif title == 'Edit Application Details' %}
                            <legend class="border-bottom mb-4">Edit details
                            </legend>
                            {% else %}
                            <legend class="border-bottom mb-4"></legend>
                            {% endif %}
                            <div>
                                <div>
                                    <h6 class="border-bottom mb-4">PART 1 : Personal Details</h6>
                                    <div class="">                                    
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form.first_name|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.last_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form.gender|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form.name_of_gurdian|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.contact_of_gurdian|as_crispy_field }}
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div>                                    
                                    <h6 class="border-bottom border-top pt-2 pb-2 mt-4 mb-4">Part 2 : School Details</h6>
                                    {{ form.school_type|as_crispy_field }}
                                    {{ form.school_name|as_crispy_field }}
                                    
                                    <div class="row">
                                        <div class="col-md-6">                                            
                                            {{form.adm_number|as_crispy_field}}
                                        </div>
                                        <div class="col-md-6">                                            
                                            {{form.class_of_study|as_crispy_field}}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div>                                    
                                    <h6 class="border-bottom border-top pt-2 pb-2 mt-4 mb-4">PART 3: Location Details</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            
                                            {{ form.subcounty|as_crispy_field }}
                                        </div>
                                        <div class="col-md-4">
                                            
                                            {{ form.ward|as_crispy_field }}
                                        </div>
                                        <div class="col-md-4">
                                            
                                            {{ form.sublocation|as_crispy_field }}
                                        </div>
                                    </div>

                                    {% if title == 'Edit Application Details' %}
                                    <div class="money_details border-bottom border-top pt-2 pb-2"> 
                                    <small class="text-muted">Amount remaining to be awarded in this applicant's sublocation: 
                                        <span class="{% if money_per_ward|div:sublocations_count|sub:amount_so_far.total < 10000 %}
                                            badge badge-danger
                                            {% else %}
                                            badge badge-success
                                        {% endif %}">
                                            {{money_per_ward|div:sublocations_count|sub:amount_so_far.total|intword|intcomma}}
                                        </span>
                                    </small>
                                    </div>
                                    {% endif %}
                                    

                                </div>
                            </div>
                            
                        </fieldset>
                        <div class="">
                            <button class="btn btn-block btn-outline-info" name="submit" type="submit">
                                {% if title == 'Apply' %}
                                Submit Application
                                {% else %}
                                Update Details
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>          
  </div>

  <script>
      function myFunction(x) {
        if (x.matches) { // If media query matches
          $('.btn').removeClass('btn-block');
        } else {
         
        }
      }

      var x = window.matchMedia("(max-width: 600px)")
      myFunction(x) // Call listener function at run time
      x.addListener(myFunction) // Attach listener function on state
      
      $(document).ready(function() {

        // $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        //       $(".alert").slideUp(500);
        //   });
        
        // $('#div_id_disability_desc').hide();
        $("#id_family_status").change(function() {
          if ($(this).val() == "orphan") {
            $('#death_certs').show();
            $('#div_select_dead_parent').hide();
            $('#id_death_cert_father').attr('required', '');
            $('#id_death_cert_father').attr('data-error', 'Please upload your father\'s death certificate.');
            $('#id_death_cert_mother').attr('required', '');
            $('#id_death_cert_mother').attr('data-error', 'Please upload your mother\'s death certificate.');
          }
          else if ($(this).val() == "partial_orphan") {
            $('#death_certs').hide();
            $('#div_select_dead_parent').show();
            $('#div_select_dead_parent').attr('required', '');
            $('#div_select_dead_parent').attr('data-error', 'Please select an option on this field')

          }
          else {
            
            $('#death_certs').hide();
            $('#div_select_dead_parent').hide();
            $('#id_death_cert_father').removeAttr('required');
            $('#id_death_cert_father').removeAttr('data-error');
            $('#id_death_cert_mother').removeAttr('required');
            $('#id_death_cert_mother').removeAttr('data-error');
          }
        });
        $("#id_family_status").trigger("change");

        $("input[name=disability_status]").change(function(){
            $('#div_id_disability_desc').hide();
            // alert($(this).val());
            if ($(this).val() == "True") {
              // alert("I am for true");
              $('#div_id_disability_desc').show();
            }
            else if ($(this).val() == "False"){
              $('#div_id_disability_desc').hide();
            }

            else {
              $('#div_id_disability_desc').hide();
            }
        });
        $("input[name=disability_status]").trigger("change");

      });
    </script>

    <script>
      function checkParent(){

        var value = $("#select_dead_parent").val();

        if ( value == "father") {
          $('#death_certs').show();
          $('#div_death_cert_father').hide();
          $('#div_death_cert_mother').show();
          // $('#div_death_cert_mother').removeClass("col-md-6");
          // $('#div_death_cert_mother').addClass("col-md-12");
          $('#id_death_cert_mother').attr('required', '');
        }
        else if(value == "mother"){
          $('#death_certs').show();
          $('#div_death_cert_mother').hide();
          $('#div_death_cert_father').show();
          // $('#div_death_cert_father').removeClass("col-md-6");
          // $('#div_death_cert_father').addClass("col-md-12");
          $('#id_death_cert_father').attr('required', '');
        }
        else {
          $('#death_certs').hide();
        }

        $("#select_dead_parent").trigger("change")
        
      }
    </script>
</div>

{% endblock %}
