{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include "_modal.html" %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Users</li>      
    </ol>
  </nav>
  <div class="row">    
    <div class="col-md-12">
      <h5 class="border-bottom">Users</h5>
      <div class="card">
        <div class="card-body">
          <div class="float-left">
            <a class="btn btn-primary" href="{% url 'signup' %}">
            <span class="fa fa-plus-circle mr-2"></span>
            Add new user
        </a>
          </div>
            <table class="table" id="users_table">
              <thead class="">
                <th>
                  #
                </th>
                <th>
                  Image
                </th>
                <th>
                  Login ID
                </th>
                <th>
                  Email
                </th>
                <th>
                  Last Login
                </th>
                <th>
                  Last Logout
                </th>
                <th>
                  Status
                </th>
              </thead>
              <tbody>
                {% for user in users %}
                <tr class="clickabe-row" data-target="">
                  <td class="text-center">{{ forloop.counter}}</td>
                  {% if user.is_entity %}                    
                    <td><img src="{{ user.schoolprofile.avatar.url}}" class="inset"></td>
                    {% else %}
                    <td><img src="{{ user.staffprofile.avatar.url}}" class="inset"></td>
                  {% endif %}
                  <td>{{ user.login_id }}</td>
                  <td>{{user.email}}</td>                  
                  <td>
                    {% if user.last_login %}
                      {{ user.last_login }}
                    {% else %}
                      Not Logged In Yet
                    {% endif %}
                  </td>
                  <td>
                    {% if user.is_entity %}
                      {{ user.schoolprofile.last_logout }}
                    {% else %}
                      {{ user.staffprofile.last_logout }}
                    {% endif %}
                  </td>
                  <td>
                      {% if user.is_superuser %}
                          <span class="badge badge-danger"><i class="fa fa-user"></i>&nbsp;Admin</span>
                          {% else %}
                          {% if user.is_entity %}
                            <span class="badge badge-success"><i class="fa fa-user"></i>&nbsp;School</span>
                            {% else %}                            
                            <span class="badge badge-primary"><i class="fa fa-user"></i>&nbsp;Staff</span>
                          {% endif %}
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>          
  </div>

  <script>
    document.getElementById("users").className += " active";
    $(".signup-btn").modalForm({
            formURL: "{% url 'register' %}"
        });
    
  </script>
{% endblock %}

                
