{# {% load widget_tweaks %} #}
{% extends "layout.html" %}
{% load humanize %}

{% block content %}
{% include "_modal.html" %}
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'disbursements-home' %}">Disbursements</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ward-disbursements' %}">Disbursements Per Ward</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ward-disbursements-details' ward.id %}">{{ward.name}}</a></li> 
        <li class="breadcrumb-item active">Applicants</li>      
      </ol>
  </nav>
  
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title">
        Applicants From {{ward}}
      </h5>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover" id="disbursement_table">
          <thead>
              <tr>
                <th>#</th>                
                <th>Name of Applicant</th>
                <th>Adm/Reg Number</th>
                <th>Institution</th>
                <th>Category</th>
                <th>Name of Gurdian</th>
                <th>Contact</th>
                <th>Ward</th>
                <th>Sublocation</th>                   
                <th>Amount Awarded</th>
                <th>Edit</th>
              </tr>
          </thead>
          <tbody>
            {% for applicant in applicants %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{applicant.first_name}} {{applicant.last_name}}</td>
                <td>{{applicant.adm_number}}</td>
                <td>{{applicant.school_name}}</td>
                <td>{{applicant.school_type}}</td>
                <td>{{applicant.name_of_gurdian}}</td>
                <td>{{applicant.contact_of_gurdian}}</td>
                <td>{{applicant.ward}}</td>
                <td>{{applicant.sublocation}}</td>
                <td>{{applicant.school_type.amount_allocated|intcomma}}</td>
                <td>
                  <a href="{% url 'update-applicants-from-ward' applicant.ward_id applicant.id %}" class="btn btn-primary btn-sm">
                    <span class="fa fa-edit"></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th colspan="9">Total Amount to be allocated</th>
              <td class="text-left">{{total_amount.total|intcomma}}</td>                   
            </tr>
          </tfoot>
      </table>
    </div>
  </div>
{% endblock content %}
<!-- </div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div> -->