{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "_modal.html" %}

	<nav aria-label="breadcrumb">
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
	      <li class="breadcrumb-item"><a href="{% url 'disbursements-home' %}">Disbursements</a></li>
          <li class="breadcrumb-item"><a href="{% url 'ward-disbursements' %}">Disbursements Per Ward</a></li>
          <li class="breadcrumb-item"><a href="{% url 'ward-disbursements-details' ward.id %}">{{ward.name}}</a></li>
	      <li class="breadcrumb-item active">{{school_type}}</li>      
	    </ol>
	</nav>
	<div class="card">
		<div class="card-header">
			<h5 class="card-title border-bottom">Awarded - {{school_type}} - in <b>{{ward.name}}</b> Ward</h5>
		</div>
		<div class="card-body">
            <a href="{% url 'generate-bulk-cover-letter' ward.id school_type.id %}">Generate Bulk</a>
            <form method="get" class="">
                <div class="row">
                    <div class="col-md-3">                      
                      {{ filter.form.subcounty|as_crispy_field }}                       
                    </div>
                    <div class="col-md-3">
                      {{ filter.form.ward|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                      {{ filter.form.sublocation|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                      {{ filter.form.school_type|as_crispy_field }}
                    </div>                   
                </div>
                <div class="text-center">                    
                    <button type="submit" class="btn btn-sm btn-block btn-outline-primary text-center">Get Schools</button>
                </div>
            </form>
            <table class="table table-hover border-bottom" id="disbursement_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>School</th>                        
                        <th>Number of Applicants</th>
                        <th>Cheque Number</th>
                        <th>Read/Update</th>                    
                    </tr>
                </thead>
                <tbody>
                    {% for application in filter.qs %}
                    <tr class="" data-target="">
                        <td>{{ forloop.counter}}</td>
                        <td>{{ application.school_name}}</td>                        
                        <td class="text-center">{{ application.name_count }}</td> 
                        <td class="text-center">
                            {% if application.school_type == 1 %}
                               <button class="badge badge-danger">This is a University</button>
                            {% else %}
                               {% if application.cheque_number__cheque_number %}
                                {{application.cheque_number__cheque_number}}
                                {% else %}
                                Not Set
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if application.school_type == 1 %}
                                <button class="btn btn-sm btn-warning" disabled type="button" data-toggle="tooltip" data-placement="auto" title="Edit Cheque">
                                    <span class="fa fa-times-circle"></span>
                                </button>
                            {% else %}
                                {% if application.cheque_number__cheque_number %}                         
                                    <button class="ward-cheque-btn btn btn-sm btn-primary" type="button" data-id="{% url 'edit-cheque-for-ward' ward.id application.school_name application.cheque_number__id  %}" data-toggle="tooltip" data-placement="auto" title="Edit Cheque">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    {% else %}
                            
                                        <button class="ward-cheque-btn btn btn-sm btn-primary" type="button" data-id="{% url 'add-cheque-for-ward' ward.id  application.school_name %}" data-toggle="tooltip" data-placement="auto" title="Add Cheque">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                {% endif %} 
                            {% endif %}

                            <a href="{% url 'schools-in-ward-details' ward.id application.school_name %}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="auto" title="View Details"><span class="fa fa-eye"></span></a>
                        </td>                            
                    </tr>
                    {% endfor %}
                </tbody>
             
            </table>
        </div>
	</div>

    <script>
        $('#disbursements').addClass("active");
        $(".ward-cheque-btn").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
    </script>
{% endblock content %}